anyio==4.9.0
asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
Django==5.2.1
django-js-asset==3.1.2
django-ranged-response==0.2.0
django-simple-captcha==0.6.2
django-tinymce==4.1.0
h11==0.16.0
httpcore==1.0.9
idna==3.10
mysqlclient==2.2.7
pillow==11.2.1
python-dotenv==1.1.0
requests==2.32.3
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
vt_dlhub @ git+https://github.com/vantu03/vt_dlhub.git@786f7f18da5edf3fe742d060477a918f153b6957
wheel==0.45.1
yt-dlp==2025.4.30
